<div id="booking_management">
  <div class="main-profil">
    <div class="ma-ludo card-profil collapsed"
         data-bs-toggle="collapse"
         data-bs-target="#myLudo-pret"
         aria-expanded="false"
         aria-controls="myLudo-pret"
         style="cursor: pointer;">
      <!-- <p><i class="fa-solid fa-dice purple"></i> MES PRÊTS (<%#= owner.values.sum(&:length) %>)</p> -->
      <p><i class="fa-solid fa-dice purple"></i> MES PRÊTS (<%= owner[:submited].length + owner[:validated].length + owner[:returned].length %>)</p>
      <p><i class="fa-solid fa-angle-right chevron-toggle"></i></p>
    </div>
    <div class="mt-4">
      <div class="collapse mt-2" id="myLudo-pret">
        <div class="text-start background-transparent" data-controller="tab-toggle">
          <div class="boutons-prets text-center">
            <div class="button" data-tab-toggle-target="btnEncours" data-action="click->tab-toggle#showEncours">En cours
              <% owner_encours = owner[:submited].length + owner[:validated].length + owner[:returned].length %>
              <% if owner_encours > 0 %>
              (<%= owner_encours %>)
              <% end %>
              </div>

            <div class="button" data-tab-toggle-target="btnClotures" data-action="click->tab-toggle#showClotures">Clôturés
              <%# owner_clotures = owner[:closed].length %>
              <%# if owner_clotures > 1 %>
              <!-- (<%#= owner[:closed].length %>) -->
              <%# end %>
              </div>
          </div>

          <div class="prets-encours" data-tab-toggle-target="encours">
            <% prets_encours = owner.empty? ? [] : owner[:submited] + owner[:validated] + owner[:returned] %>
            <% if prets_encours.any? %>
              <div class="row mx-0">
                <% prets_encours.each do |booking| %>
                  <%= render "profiles/card_status", b: booking %>
                <% end %>
              </div>
            <% else %>
              <div class="text-center mt-3">
                <p><%= viewer.username %>, tu n'as pas de prêts en cours.</p>
              </div>
            <% end %>
          </div>

          <div class="prets-clotures" data-tab-toggle-target="clotures">
            <% prets_clotures = owner.empty? ? [] : owner[:closed] %>
            <% if prets_clotures.any? %>
              <div class="row mx-0">
                <% prets_clotures.each do |booking| %>
                  <%= render "profiles/card_status", b: booking %>
                <% end %>
              </div>
            <% else %>
              <div class="text-center mt-3">
                <p><%= viewer.username %>, tu n'as pas de prêts clôturés.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="ma-ludo card-profil collapsed"
         data-bs-toggle="collapse"
         data-bs-target="#myLudo-emprunt"
         aria-expanded="false"
         aria-controls="myLudo-emprunt"
         style="cursor: pointer;">
      <p><i class="fa-solid fa-euro-sign purple"></i> MES EMPRUNTS (<%= borrow[:accepted].length + borrow[:validated].length  + borrow[:closed].length + borrow[:returned].length %>)</p>
      <!-- <p><i class="fa-solid fa-dice purple"></i> MES EMPRUNTS (<%#= borrow.values.sum(&:length) %>)</p> -->
      <p><i class="fa-solid fa-angle-right chevron-toggle"></i></p>
    </div>

    <div class="mt-4">
      <div class="collapse mt-2" id="myLudo-emprunt">
        <div class="text-start background-transparent" data-controller="tab-toggle">
          <div class="boutons-emprunts text-center">
            <div class="button" data-tab-toggle-target="btnEncours" data-action="click->tab-toggle#showEncours">En cours
              <% borrow_encours = borrow[:accepted].length + borrow[:validated].length %>
              <% if borrow_encours > 0 %>
              (<%= borrow_encours %>)
              <% end %>
              </div>
            <div class="button" data-tab-toggle-target="btnClotures" data-action="click->tab-toggle#showClotures">Clôturés
              <%# borrow_cloture = borrow[:closed].length %>
              <%# if borrow_cloture > 0 %>
              <!-- (<%#= borrow_cloture %>) -->
              <%# end %>
              </div>
          </div>

          <div class="emprunts-encours" data-tab-toggle-target="encours">
            <% emprunts_encours = borrow.empty? ? [] : borrow[:accepted] + borrow[:validated] + borrow[:returned] %>
            <% if emprunts_encours.any? %>
              <div class="row mx-0">
                <% emprunts_encours.each do |booking| %>
                  <%= render "profiles/card_status", b: booking %>
                <% end %>
              </div>
            <% else %>
              <div class="text-center mt-3">
                <p><%= viewer.username %>, tu n'as pas d'emprunts en cours.</p>
              </div>
            <% end %>
          </div>

          <div class="emprunts-clotures" data-tab-toggle-target="clotures">
            <% emprunts_clotures = borrow.empty? ? [] : borrow[:closed] %>
            <% if emprunts_clotures.any? %>
              <div class="row mx-0">
                <% emprunts_clotures.each do |booking| %>
                  <%= render "profiles/card_status", b: booking %>
                <% end %>
              </div>
            <% else %>
              <div class="text-center mt-3">
                <p><%= viewer.username %>, tu n'as pas d'emprunts clôturés.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
