
<div class="col-12 col-md-6 col-lg-4 mb-1 link">
    <%= link_to "#", class: "game-card-link" do %>
        <h2 class="game-title">
            <%= b.game.title %>
        </h2>

        <p class="txt">
            <i class="fa-solid fa-dice red"></i>
            status: <%= b.status %>
        </p>
        <!-- prêteur -->
        <% if b.status == "submited" %>
            <p class="txt text-warning">
                <i class="fa-solid fa-user blue"></i>
                Emprunté par : <%= b.chat.user.username %>
            </p>
            <p>
                <%= link_to "", accept_booking_path(b), data: { turbo_method: :patch },
                class:"fa-solid fa-thumbs-up fs-1 green" %>
            </p>
            <p>
                <%= link_to "", decline_booking_path(b), data: { turbo_method: :patch }, 
                class:"fa-solid fa-thumbs-down fs-1 red" %>
            </p>
            <p><i class="fa-solid fa-chevron-up"></i>x</p>
            <p  class="fs-6 text confirmer">
                <%= b.game.user.username %> clique ici pour valider définitivement.
            </p>

        <% elsif b.status == "validated" %>
            <p class="txt text-warning">
                <i class="fa-solid fa-user blue"></i>
                Emprunté par : <%= b.chat.user.username %>
            </p>
            <p><%= link_to "", returned_booking_path(b), data: { turbo_method: :patch }, 
            class:"fa-solid fa-check fs-1 green" %></p>
            <p><i class="fa-solid fa-chevron-up"></i></p>
            <p  class="fs-6 text confirmer"><%= b.game.user.username %> clique ici pour valider le retour du jeux.</p>

        <!-- emprunteur -->
        <% elsif b.status == "accepted" %>
            <p> 
                <i class="fa-solid fa-user blue"></i>
                Prêter par : <%= b.game.user.username %>
            </p>
            <p><%= link_to "", deposit_booking_path(b), class:"fa-solid fa-basket-shopping fs-1 green" %></p>
            <p><i class="fa-solid fa-chevron-up"></i></p>
            <p  class="fs-6 text confirmer"><%= b.user.username %> clique ici pour valider définitivement.</p>

        <% elsif b.status == "returned" %>
            <p> 
                <i class="fa-solid fa-user blue"></i>
                Prêter par : <%= b.game.user.username %>
            </p>
            <p><%= link_to "", give_back_booking_path(b), class:"fa-solid fa-euro-sign fs-1 green" %></p>
            <p><i class="fa-solid fa-chevron-up"></i></p>
            <p  class="fs-6 text confirmer"><%= b.user.username %> clique ici pour récupéré ta caution.</p>
        
        <% end %>
    <% end %>
</div>
