
<div class="col-12 col-md-6 col-lg-4 mb-1 link">
    <%= link_to "#", class: "game-card-link" do %>
        <h2 class="game-title">
            <%= b.game.title %>
        </h2>

        <p class="txt">
            <i class="fa-solid fa-dice red"></i>
            status: <%= b.status %>
        </p>

        <p class="txt text-warning">
            <i class="fa-solid fa-user blue"></i>
            Emprunté par : <%= b.chat.user.username %>
        </p>
        <% if b.status == "submited" %>
            <p>par <%= .game.user.username} %></p>
            <p>
                <%= link_to "", deposit_booking_path(b),
                class:"fa-solid fa-basket-shopping fs-1 green" %>
            </p>
            <p><i class="fa-solid fa-chevron-up"></i>x</p>
            <p  class="fs-6 text confirmer">
                <%= b.user.username %> clique ici pour valider définitivement.
            </p>
        <% elsif b.status == "validated" %>
            <p>par <%= game.user.username}" %></p>
            <p><%= link_to "", owner_path, class:"fa-solid fa-check fs-1 green" %></p>
            <p><i class="fa-solid fa-chevron-up"></i></p>
            <p  class="fs-6 text confirmer"><%= b.user.username %> clique ici pour valider le retour du jeux.</p>
        <% elsif b.status == "accepted" %>
            <p>par <%= game.user.username}" %></p>
            <p><%= link_to "", deposit_booking_path(b), class:"fa-solid fa-basket-shopping fs-1 green" %></p>
            <p><i class="fa-solid fa-chevron-up"></i></p>
            <p  class="fs-6 text confirmer"><%= b.user.username %> clique ici pour valider définitivement.</p>
        <% elsif b.status == "returned" %>
            <p>par <%= ame.user.username}" %></p>
            <p><%= link_to "", give_back_booking_path(b), class:"fa-solid fa-euro-sign fs-1 green" %></p>
            <p><i class="fa-solid fa-chevron-up"></i></p>
            <p  class="fs-6 text confirmer"><%= b.user.username %> clique ici pour récupéré ta caution.</p>
        <% else %>
                par <%= t_user.username}" %> %>
        <% end %>
    <% end %>
</div>
