  <% if games.any? %>
      <div class="row" id="ludo">
        <% games.each do |game| %>

          <div class="col-12 col-md-6 col-lg-4 mb-1 link">
            <div class="game-card h-60"
                  style="--game-bg: url('<%= cl_image_path(game.picture.key) if game.picture.attached? %>');">

                <p class="txt">
                  <i class="fa-solid fa-dice red"></i><br><span class="bg-letter"><%= game.category %></span>
                </p>

                <p class="txt">
                  <i class="fa-solid fa-user blue"></i><br> <%= game.age %> ans
                </p>

                <p class="txt">
                  <i class="fa-solid fa-chess-knight orange"></i><br>
                  <%= game.player_number %> joueur<%= game.player_number > 1 ? 's' : '' %>
                </p>
              <%= link_to game_path(game), class: "game-card-link" do %>
              <h2 class="game-title bg-title-<%= %w[red blue yellow orange green purple].sample %>"><%= game.title %></h2>
              <% end %>
                  <%= button_to toggle_availability_game_path(game), method: :patch,
                      class: "availability-toggle btn border-0 bg-transparent p-0" do %>
                    <i class="fa-solid <%= game.available? ? 'fa-toggle-on text-success' : 'fa-toggle-off text-secondary' %> fs-5"></i>
                    <span class="d-block withe" style="font-size: 0.7rem; line-height: 1.2;">
                      <%= game.available? ? "Disponible" : "Indisponible" %>
                    </span>
                  <% end %>
              </div>

          </div>

        <% end %>
      </div>
    <% else %>

      <div class="text-center">
        <p>Aucun jeu disponible.</p>
      </div>

    <% end %>
</div>
