<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <!--############################################################### -->
      <!-- Notification des bookings provisoire -->
      <% if flash[:notice] %>
        <div class="notice"><h3 style="color:green"><%= flash[:notice] %></h3></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"><h3 style="color:red"><%= flash[:alert] %></h3></div>
      <% end %>
      <!--############################################################### -->

      <div class="row">
        <div class="border rounded-4 p-4">

          <!-- Div Du menu profil -->
          <div class="d-flex gap-3 mb-4 justify-content-center">
            <%= link_to "Ma ludothèque", owner_path, class: "btn btn-outline-primary rounded-pill" %>
            <%= link_to "Ajouter un jeu", "#",
                class: "btn btn-outline-primary rounded-pill",
                data: { bs_toggle: "modal", bs_target: "#modalAddGame" } %>
            <%= link_to "Mes emprunts", "#", class: "btn btn-primary rounded-pill" %>
          </div>
          <!-- FIN Div Du menu profil -->
        </div>
        <!-- Debut de la liste des jeux empruntés avec leur statut -->
        <% if @bookings.any? %>
          <div class="row" id="ludo">
            <% @bookings.each do |booking| %>
              <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-4">
                <div class="mini-card">
                  <%= link_to "#", class: "mini-card-link" do %>
                    <p class="fs-4 text booking-title"><%= booking.game.title %></p>
                    <p  class="fs-4 text statut">Statut de la demande : <span><%= booking.status %></span></p>
                    <% if booking.status == "accepted" %>
                      <p>par <%= oking.game.user.username}" %></p>
                      <p><%= link_to "", deposit_booking_path(booking), class:"fa-solid fa-basket-shopping fs-1 green" %></p>
                      <p><i class="fa-solid fa-chevron-up"></i></p>
                      <p  class="fs-6 text confirmer"><%= booking.user.username %> clique ici pour valider définitivement.</p>
                    <% elsif booking.status == "returned" %>
                      <p>par <%= king.game.user.username}" %></p>
                      <p><%= link_to "", give_back_booking_path(booking), class:"fa-solid fa-euro-sign fs-1 green" %></p>
                      <p><i class="fa-solid fa-chevron-up"></i></p>
                      <p  class="fs-6 text confirmer"><%= booking.user.username %> clique ici pour récupéré ta caution.</p>
                    <% else %>
                      par <%= t_user.username}" %> %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="text-center">
            <p><%= current_user.username %>, tu n'as aucun emprunt actuellement.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAddGame" tabindex="-1" aria-labelledby="modalAddGameLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddGameLabel">Ajouter un jeu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <%= render "shared/form_add_game", game: @game %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary rounded-pill"
                  data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>
