<p>mes prêts</p>
<!-- liste des jeux prêter avec leur statut -->
<% if !@bs.empty? %>
  <div class="row" id="ludo">

    <% @bs[:submited].each do |booking| %>
      <%= render "profiles/card_status", b: booking  %>
    <% end %>

    <% @bs[:returned].each do |booking| %>
      <%= render "profiles/card_status", b: booking  %>
    <% end %>
    
  </div>
<% else %>
  <div class="text-center">
    <p><%= current_user.username %>, tu n'as aucun emprunt actuellement.</p>
  </div>
<% end %>
<%# raise %>
<!-- Fin test liste des jeux prêter avec leur statut -->
<p>mes emprunts</p>
<!-- liste des jeux empruntés avec leur statut -->
<% if !@bs.empty? %>
  <div class="row" id="ludo">
    
    <% @bs[:accepted].each do |booking| %>
      <%= render "profiles/card_status", b: booking  %>
    <% end %>
    
    <% @bs[:validated].each do |booking| %>
      <%= render "profiles/card_status", b: booking  %>
    <% end %>
  </div>
<% else %>
  <div class="text-center">
    <p><%= current_user.username %>, tu n'as aucun emprunt actuellement.</p>
  </div>
<% end %>
<%# raise %>
<!-- Fin test liste des jeux empruntés avec leur statut -->

<!-- Cloture -->
<p>jeux cloturé</p>
<% if !@bs.empty? %>
  <% @bs[:closed].each do |booking| %>
    <%= render "profiles/card_status", b: booking  %>
  <% end %>
<% end %>
<!-- FIN cloture -->

<%# raise %>