<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2>Pages des emprunts de <%= @user.username %></h2>
      <!--############################################################### -->
      <!-- Notification des bookings provisoire -->
      <% if flash[:notice] %>
        <div class="notice"><h3 style="color:green"><%= flash[:notice] %></h3></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"><h3 style="color:red"><%= flash[:alert] %></h3></div>
      <% end %>
      <!--############################################################### -->

      <div class="row">
        <div class="border rounded-4 p-4">

          <!-- Div Du menu profil -->
          <div class="d-flex gap-3 mb-4 justify-content-center">
						<%= link_to "Ma ludothèque", "#", class: "btn btn-primary rounded-pill" %>
						<%= link_to "Ajouter un jeu", "#ajout", class: "btn btn-outline-primary rounded-pill" %>
						<%= link_to "Mes emprunts", "#", class: "btn btn-outline-primary rounded-pill" %>
					</div>
					<!-- FIN Div Du menu profil -->
        </div>

      <div class="my-chats">
        <div class="col-12">
          <h3>status de mes demande</h3>
					<% @bookings.each do |booking| %>
						<p>title : <%= booking.game.title %></p>
						<p>status : <%= booking.status %></p>
						<% if booking.status == "accepted" %>
							<%= link_to "Valider", deposit_booking_path(booking) %>
						<% end %>
					<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
