
<div class="main-profil">
  <div class="ma-ludo card-profil collapsed"
       data-bs-toggle="collapse"
       data-bs-target="#myLudo"
       aria-expanded="false"
       aria-controls="myLudo"
       style="cursor: pointer;">
    <p><i class="fa-solid fa-dice purple"></i> MA LUDOTHEQUE</p>
    <p><i class="fa-solid fa-angle-right chevron-toggle"></i></p>
  </div>
  <div class="mt-4">
    <div class="collapse mt-2" id="myLudo">
      <div class="game-rules text-start">
        <%= render "shared/game-card-owner", games:@games %>
      </div>
    </div>
  </div>

 <%= link_to "#modalAddGame", data: { bs_toggle: "modal", bs_target: "#modalAddGame" } do %>
  <div class="ajouter-jeu card-profil">
    <p><i class="fa-brands fa-square-google-plus purple"></i> AJOUTER MON JEU</p>
    <p><i class="fa-solid fa-angle-right"></i></p>
  </div>
<% end %>

<%= render "shared/modal_ajout_jeu", user: @user, game:@game %>

  <div class="ma-ludo card-profil emprunt collapsed"
       data-bs-toggle="collapse"
       data-bs-target="#emprunts"
       aria-expanded="false"
       aria-controls="emprunts"
       style="cursor: pointer;">
    <p><i class="fa-solid fa-dice purple"></i> MES EMPRUNTS</p>
    <p><i class="fa-solid fa-angle-right chevron-toggle"></i></p>
  </div>
  <div class="mt-4">
    <div class="collapse mt-2" id="emprunts">
      <div class="emprunt text-start">
        Liste des jeux empruntés
      </div>
    </div>
  </div>
</div>
<p>===================================</p>

<div class="global-main d-flex flex-wrap gap-3 w-75 mx-auto">
  <% @games.each do |game| %>
    <% game.chats.each do |chat| %>
      <% if chat.booking.nil? %>
        <p>nil</p>
        <p><%= chat.id %></p>
      <% elsif chat.booking.status === "accepted" %>
        <div class="game-card p-4 w-50 mx-auto d-flex flex-column bg-success-emphasis ">
          <p class="text-danger fw-semibold"><i class="fa-solid fa-crown yellow"></i> <%= game.title %></p>
          <p class="text-warning">Statut :  <%= chat.booking.status %> </p>
          <p class="text-success">Emprunté par :  <%= chat.user.username %></p>
        </div>
      <% elsif chat.booking.status === "validated" %>
        <div class="game-card p-4 w-50 mx-auto d-flex flex-column bg-success-emphasis ">
          <p class="text-danger fw-semibold"><i class="fa-solid fa-crown yellow"></i> <%= game.title %></p>
          <p class="text-danger">Statut :  <%= chat.booking.status %> </p>
          <p class="text-success">Emprunté par :  <%= chat.user.username %></p>
          <p><%= link_to "Rendu ?", returned_booking_path(chat.booking), data: { turbo_method: :patch } %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
