<div class="container">

<div class="rating">
  <div class="calcul-rating">
    <% user_rating = @user.rating.round(1) %>
    <% nb_rate_bad = 5 - user_rating.to_i %>

    <% if user_rating == 5 %>
      <% 5.times do %><i class="fa-solid fa-star purple"></i><% end %>
    <% else %>
      <% user_rating.to_i.times do %><i class="fa-solid fa-star purple fs-6"></i><% end %><% nb_rate_bad.times  do %><i class="fa-solid fa-star white fs-6"></i><% end %>
    <% end %>
  </div>
<p class="text-rating"><i class="fa-solid fa-medal"></i> <%= @user.username %>, ta cotation sur GameShare depuis ton inscription <span>(<%= l(@user.created_at.to_date, format: :long, locale: :fr) %>)</span></p>
</div>
<div class="main-profil">
  <%= link_to owner_path do %>
  <div class="ma-ludo card-profil">
    <p><i class="fa-solid fa-dice purple"></i> MA LUDOTHEQUE</p>
    <p><i class="fa-solid fa-angle-right"></i></p>
  </div>
  <% end %>
  <%= link_to "#modalAddGame", data: { bs_toggle: "modal", bs_target: "#modalAddGame" } do %>
  <div class="ajouter-jeu card-profil">
    <p><i class="fa-brands fa-square-google-plus purple"></i> AJOUTER MON JEU</p>
    <p><i class="fa-solid fa-angle-right"></i></p>
  </div>
<% end %>
  <%= link_to borrow_path do %>
  <div class="mes-emprunts card-profil">
    <p><i class="fa-solid fa-euro-sign purple"></i> MES EMPRUNTS</p>
    <p><i class="fa-solid fa-angle-right"></i></p>
  </div>
  <% end %>
</div>
<%= render "shared/modal_ajout_jeu", user: @user, game:@game %>
</div>
