
<div class="rating">
  <div class="calcul-rating">
    <% user_rating = @user.rating.round(1) %>
    <% nb_rate_bad = 5 - user_rating.to_i %>

<<<<<<< HEAD
            <% nb_rate_good = @user.rating.to_i %>
            <% nb_rate_bad = 5 - @user.rating.to_i %>
            <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>Username</th>
                  <th>Adresse</th>
                  <th>Note globale</th>
                  <th>Membre depuis</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @user.username %></td>
                  <td><i class="fa-solid fa-location-dot"></i> <%= @user.address %></td>
                  <td style="white-space: nowrap;">
                    <%= @user.rating.round(1) %> / 5
                      <div>
                        <% if nb_rate_good >= 4.5 %>
                          <% 5.times do %><i class="fa-solid fa-star green"></i><% end %>
                        <% else %>
                          <% nb_rate_good.times do %><i class="fa-solid fa-star green fs-6"></i><% end %><% nb_rate_bad.times do %><i class="fa-solid fa-star white fs-6"></i><% end %>
                        <% end %>
                      </div>
                  </td>
                  <td>
                    <%= l(@user.created_at.to_date, format: :long, locale: :fr) %><br>
                    (<%= (Date.today - @user.created_at.to_date).to_i %> jours)
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <div class="border rounded-4 p-4">
            <div class="d-flex gap-3 mb-4 justify-content-center">
              <%= link_to "Ma ludothèque", "#", class: "btn btn-primary rounded-pill" %>
              <%= link_to "Ajouter un jeu", "#",
                  class: "btn btn-outline-primary rounded-pill",
                  data: { bs_toggle: "modal", bs_target: "#modalAddGame" } %>
              <%= link_to "Mes emprunts", borrow_path, class: "btn btn-outline-primary rounded-pill" %>
            </div>
              <% if @games.any? %>
                <div class="row">
                  <% @games.each do |game| %>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-2 mb-4">
                      <div class="mini-card">
                        <%= button_to toggle_availability_game_path(game), method: :patch,
                            class: "availability-toggle btn border-0 bg-transparent p-0" do %>
                          <i class="fa-solid <%= game.available? ? 'fa-toggle-on text-success' : 'fa-toggle-off text-secondary' %> fs-5"></i>
                          <span class="d-block text-dark" style="font-size: 0.7rem; line-height: 1.2;">
                            <%= game.available? ? "Disponible" : "Indisponible" %>
                          </span>
                        <% end %>
                        <%= link_to game_path(game), class: "mini-card-link" do %>
                          <h2 class="game-title">
                            <%= game.title %>
                          </h2>
                          <% if game.picture.attached? %>
                          <%= cl_image_tag game.picture.key,
                              alt: game.title,
                              class: "game-image img-fluid" %>
                          <% else %>
                          <div class="bg-secondary d-flex align-items-center justify-content-center rounded"
                                style="height: 220px;">
                              Aucune image
                          </div>
                          <% end %>
                          <p><i class="fa-solid fa-dice red"></i> <%= game.category %></p>
                          <p><i class="fa-solid fa-dice-d20 blue"></i> <%= game.age %> an<%= game.age > 1 ? 's' : "" %></p>
                          <p><i class="fa-solid fa-chess-knight orange"></i> <%= game.player_number %> joueur<%= game.player_number > 1 ? 's' : "" %></p>
                        <% end %>
                        </div>
                      </div>
                  <% end %>
                  </div>
              <% else %>
                <div class="text-center">
                <p>Aucun jeu ajouté pour le moment.</p>
                </div>
              <% end %>
            </div>
            <div class="modal fade" id="modalAddGame" tabindex="-1" aria-labelledby="modalAddGameLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalAddGameLabel">Ajouter un jeu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                  </div>
                  <div class="modal-body">
                    <%= render "shared/form_add_game", game: @game %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary rounded-pill"
                            data-bs-dismiss="modal">Annuler</button>
                  </div>
                </div>
              </div>
            </div>
=======
    <% if user_rating == 5 %>
      <% 5.times do %><i class="fa-solid fa-star purple"></i><% end %>
    <% else %>
      <% user_rating.to_i.times do %><i class="fa-solid fa-star purple fs-6"></i><% end %><% nb_rate_bad.times  do %><i class="fa-solid fa-star white fs-6"></i><% end %>
    <% end %>
  </div>
<p class="text-rating"><i class="fa-solid fa-medal"></i> <%= @user.username %>, ta cotation sur GameShare depuis ton inscription <span>(<%= l(@user.created_at.to_date, format: :long, locale: :fr) %>)</span></p>
</div>
<div class="main-profil">
  <%= link_to owner_path do %>
  <div class="ma-ludo card-profil">
    <p><i class="fa-solid fa-dice purple"></i> MA LUDOTHEQUE</p>
    <p><i class="fa-solid fa-angle-right"></i></p>
  </div>
  <% end %>
  <%= link_to "#modalAddGame", data: { bs_toggle: "modal", bs_target: "#modalAddGame" } do %>
  <div class="ajouter-jeu card-profil">
    <p><i class="fa-brands fa-square-google-plus purple"></i> AJOUTER MON JEU</p>
    <p><i class="fa-solid fa-angle-right"></i></p>
  </div>
<% end %>
  <%= link_to borrow_path do %>
  <div class="mes-emprunts card-profil">
    <p><i class="fa-solid fa-euro-sign purple"></i> MES EMPRUNTS</p>
    <p><i class="fa-solid fa-angle-right"></i></p>
  </div>
  <% end %>
</div>
<div class="modal fade" id="modalAddGame" tabindex="-1" aria-labelledby="modalAddGameLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddGameLabel"><%= @user .username.capitalize! %>, ajoute ton jeu.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
>>>>>>> 32cd9af7cd134135e4debd417d581a27b541fad3
        </div>
        <div class="modal-body">
          <%= render "shared/form_add_game", game: @game %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary rounded-pill"
                  data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
  </div>
