<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-7 col-lg-5">
      <h2 class="mb-4 text-center h2 text-paytone">
        <span style="display:inline-block"><span class="red">E</span><span class="blue">d</span><span class="yellow">i</span><span class="orange">t</span></span>
        <span style="display:inline-block"><span class="green">m</span><span class="purple">y</span></span>
        <span style="display:inline-block"><span class="blue">p</span><span class="yellow">r</span><span class="orange">o</span><span class="green">f</span><span class="purple">i</span><span class="red">l</span></span>
      </h2>
      <%= render "shared/flashes" %>
    <div class="mt-3">
      <%= render "devise/shared/links" %>
    </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true,
                      input_html: { class: "form-control" } %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p class="text-muted small">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password", class: "form-control" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password", class: "form-control" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password", class: "form-control" } %>
          <%= f.input :address,
                      required: true,
                      input_html: { autocomplete: "street-address", class: "form-control" } %>
        </div>

        <div class="form-actions mt-3 d-grid">
          <%= f.button :submit, "Update", class: "button w-100" %>
        </div>
      <% end %>

      <hr class="my-4">

      <h3 class="h5 mb-3">Supprimer mon compte</h3>
      <p class="text-muted small">Tu veux nous quitter 😫?
        <%= button_to "Cancel my account", registration_path(resource_name),
            data: { confirm: "Es-tu sûr ?", turbo_confirm: "Es-tu sûr ?" },
            method: :delete,
            class: "btn btn-danger btn-sm" %>
      </p>

      <div class="mt-3">
        <%= link_to "Back", :back, class: "btn btn-link ps-0" %>
      </div>
    </div>
  </div>
</div>
