<div class="ajouter mt-1">
  <h1 class="my-5 text-center" id="ajout">
    <span class="red">A</span>
    <span class="blue">j</span>
    <span class="yellow">o</span>
    <span class="orange">u</span>
    <span class="green">t</span>
    <span class="red">e</span>
    <span class="blue">r</span>
    <span>&nbsp;</span>
    <span class="yellow">u</span>
    <span class="orange">n</span>
    <span>&nbsp;</span>
    <span class="green">j</span>
    <span class="red">e</span>
    <span class="blue">u</span>
  </h1>

<div class="game-card p-4">
  <%= form_with model: @game, local: true, html: { multipart: true }, class: "row g-3" do |f| %>
    <div class="col-md-6">
      <%= f.label :title, "Titre", class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :condition, "État", class: "form-label" %>
      <%= f.select :condition,
        ["Bon", "Moyen", "Usagé"],
        { prompt: "Choisir un état" },
        class: "form-select" %>
    </div>
    <div class="col-md-6">
      <%= f.label :picture, "Image du jeu", class: "form-label" %>
      <%= f.file_field :picture, class: "form-control" %>
    </div>
  <div class="col-md-6">
    <%= f.label :rent_duration, "Durée de location", class: "form-label" %>
    <%= f.select :rent_duration,
    [
      ["1 jour", 1],
      ["3 jours", 3],
      ["7 jours", 7],
      ["14 jours", 14]
    ],
    { prompt: "Choisir une durée" },
    class: "form-select" %>
  </div>
  <div class="col-md-4">
    <%= f.label :age, "Âge recommandé", class: "form-label" %>
    <%= f.select :age,
      [["3+", 3], ["6+", 6], ["7+", 7], ["10+", 10], ["16+", 16]],
      { prompt: "Choisir un âge" },
      class: "form-select" %>
  </div>
  <div class="col-md-4">
    <%= f.label :player_number, "Nombre de joueurs", class: "form-label" %>
    <%= f.select :player_number,
      (1..12).map { |n| [n, n] },
      { prompt: "Choisir" },
      class: "form-select" %>
  </div>
  <div class="col-md-4">
    <%= f.label :category, "Catégorie", class: "form-label" %>
    <%= f.select :category,
      [
        "Jeu familial",
        "Jeu expert",
        "Jeu d'ambiance",
        "Jeu de cartes",
        "Jeu coopératif",
        "Jeu de stratégie",
        "Jeu de gestion",
        "Jeu de placement",
        "Jeu de draft",
        "Jeu d'enquête",
        "Escape game",
        "Jeu de rôle",
        "Jeu de figurines",
        "Jeu d'affrontement",
        "Jeu abstrait",
        "Jeu enfant"
      ],
      { prompt: "Choisir une catégorie" },
      class: "form-select" %>
  </div>
  <div class="col-12">
    <%= f.label :description, "Description", class: "form-label" %>
    <%= f.text_area :description, rows: 4, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= f.label :rules, "Règles du jeu", class: "form-label" %>
    <%= f.text_area :rules, rows: 4, class: "form-control" %>
  </div>
  <div class="col-md-6">
  <%= f.label :deposit, "Caution", class: "form-label" %>
  <%= f.select :deposit,
    [
      ["5 €", 5],
      ["10 €", 10],
      ["15 €", 15],
      ["20 €", 20]
    ],
    { prompt: "Choisir une caution" },
    class: "form-select" %>
  </div>
  <div class="col-md-6 d-flex align-items-end">
    <div class="form-check">
      <%= f.check_box :available, class: "form-check-input" %>
      <%= f.label :available, "Disponible", class: "form-check-label" %>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <%= f.submit "Créer le jeu", class: "btn btn-primary rounded-5 px-4" %>
  </div>
  <% end %>
</div>
</div>
