<%#= turbo_stream_from @chat %>

<h1 id="titre" class="mt-2 ms-3">Chat avec <%= @other_user.username %> pour le jeu <%= @game.title %></h1>

<div id="messages" class="d-flex align-items-start flex-column" >
    <% @messages.each do |message| %>
      <% if message.user.username == current_user.username %>
        <div class="emprunteur  fs-3 fst-italic text-light bg-primary text-end rounded-3 mb-auto p-2 col-8" >
          <%= message.content %>
        </div>
      <% else %>
        <div class="preteur fs-4 text fw-bold text-primary bg-success  text-light col-8 rounded-3 my-2 p-2 ">
          <%= message.content %>
        </div>
      <% end %>
      <% end %>
</div>

<div class="form-input-message">

  <%= simple_form_for [@chat, @message] do |f| %>
  <%= f.input :content,
              label: "Poser une question" ,
              required: true,
              placeholder: "Echanger ici avec #{ @other_user.username}." ,
              input_html: { class:"input_ask",
                            data: {
                              action:"keyup->stopbutton#call",
                              stopbutton_target: "input"
                              }
                            } %>
  <%= f.button :submit, 'Discuter', class:'btn btn-outline-secondary' %>
  <% end %>
</div>
<div class="col-12 col-lg-6">
  <!-- ######################################################################################################-->
  <!-- ON Ajoute un message dans le chat qui spécifie que le jeux est demandé -->
  <% if @chat.booking.present? %>
    <p>Emplunt demandé !!</p>
  <% end %>

  <!-- ######################################################################################################-->
  <!-- Faire apparaitre ce buton pour l'emprunter !! ! modifier ma policy pour que si le booking sui existe n'est pas persisted ! !! -->

  <!-- Si l'utilisateur est l'emprunteur -->
  <% if @chat.game.user != current_user %>
    <!-- Si aucun booking n'est présent on affiche le lien pour en crée un -->
    <% if !@chat.booking.present? %>
      <%= link_to "emprunté le jeux",  chat_bookings_path(@chat), data: { turbo_method: :post } %>
    <% end %>
  <!-- Sinonn c'est que c'est l'emprunteur qui est connecté -->
  <% else %>
    <!-- On vérifie qu'un bokking a bien été crée -->
    <% if @chat.booking.present? %>
      <!-- Si oui on affiche les lien accepter et refuser -->
      <%= link_to "accepter l'emprunt", chat_booking_path(@chat, @chat.booking), data: { turbo_method: :patch } %> | 
      <%= link_to "refuser l'emprunt", chat_bookings_path(@chat), data: { turbo_method: :post } %>
    <% end %>
    <!-- Sinon on affiche rien -->
  <% end %>

  <!-- ######################################################################################################-->
</div>


  <%#= render @chat.messages, messages: @chat.messages %>
<!-- </div> -->

<!-- <div id="new_message_container" data-controller="stopbutton"> -->
  <%#= render "messages/form", conversation: @chat, message: @message %>
<!-- </div> -->

<%#= link_to "← Retour", game_path, class: "bouton-sign mt-2" %>
