<div class="container my-5">

  <%= render "shared/flashes" %>
  <h2 class="mb-4 text-center">
    <span class="red">T</span><span class="blue">r</span><span class="yellow">o</span><span class="red">u</span><span class="blue">v</span><span class="yellow">e</span>
    <span>&nbsp;</span>
    <span class="blue">u</span><span class="yellow">n</span>
    <span>&nbsp;</span>
    <span class="orange">J</span><span class="green">e</span><span class="red">u</span>
    <span>&nbsp;</span>
    <span class="orange">à</span>
    <span>&nbsp;</span>
    <span class="green">c</span><span class="red">ô</span><span class="blue">t</span><span class="yellow">é</span>
    <span>&nbsp;</span>
    <span class="orange">d</span><span class="green">e</span>
    <span>&nbsp;</span>
    <span class="red">c</span><span class="blue">h</span><span class="yellow">e</span><span class="orange">z</span>
    <span>&nbsp;</span>
    <span class="green">t</span><span class="red">o</span><span class="blue">i</span>
    <span>&nbsp;</span>
    <span class="yellow">!</span> 👇
  </h2>

  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-8 col-lg-6" data-controller="geolocation">
      <%= form_with url: games_path, method: :get, local: true, data: { geolocation_target: "form" } do |f| %>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <%= f.text_field :query,
                           class: "form-control",
                           placeholder: "19 promenade des anglais, Nice",
                           data: { geolocation_target: "input" } %>
          <button class="btn btn-outline-secondary" type="button"
                  title="Me géolocaliser"
                  data-geolocation-target="button"
                  data-action="click->geolocation#locate">
            <i class="fa-solid fa-location-crosshairs"></i>
          </button>
          <button class="btn btn-primary" type="submit">
            Trouver
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <h2 class="mb-5 text-center">
    <span class="red">N</span><span class="blue">o</span><span class="yellow">s</span>
    <span>&nbsp;</span>
    <span class="red">D</span><span class="blue">e</span><span class="yellow">r</span><span class="red">n</span><span class="blue">i</span><span class="yellow">e</span><span class="orange">r</span><span class="green">s</span>
    <span>&nbsp;</span>
    <span class="orange">J</span><span class="green">e</span><span class="red">u</span><span class="blue">x</span>
  </h2>

  <% if @last_games.any? %>
    <div class="row">
      <% @last_games.each do |game| %>

        <div class="col-12 col-md-6 col-lg-4 mb-4 link">
          <%= link_to game_path(game), class: "game-card-link" do %>

            <div class="game-card h-100"
                 style="--game-bg: url('<%= cl_image_path(game.picture.key) if game.picture.attached? %>');">

              <p class="txt">
                <i class="fa-solid fa-dice red"></i><br> <%= game.category %>
              </p>

              <p class="txt">
                <i class="fa-solid fa-user blue"></i><br> <%= game.age %> ans
              </p>

              <p class="txt">
                <i class="fa-solid fa-chess-knight orange"></i><br>
                <%= game.player_number %> joueur<%= game.player_number > 1 ? 's' : '' %>
              </p>

              <h2 class="game-title bg-title-<%= %w[red blue yellow orange green purple].sample %>">
                <%= game.title %>
              </h2>

            </div>

          <% end %>
        </div>

      <% end %>
    </div>
  <% else %>

    <div class="text-center">
      <p>Aucun jeu disponible.</p>
    </div>

  <% end %>

</div>
