<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>
<%= link_to "home", root_path %>

<div class="container my-5">

  <h1 class="mb-5 text-center">
    <span class="red">L</span>
    <span class="blue">e</span>
    <span class="yellow">s</span>
    <span>&nbsp;</span>
    <span class="orange">J</span>
    <span class="green">e</span>
    <span class="red">u</span>
    <span class="blue">x</span>
  </h1>
  <div class ="map" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-address-value="<%= @address %>"></div>

  <% if @games.any? %>

    <div class="row">
      <% @games.each do |game| %>

        <div class="col-12 col-md-6 col-lg-4 mb-4">

          <%= link_to game_path(game), class: "game-card-link" do %>

            <div class="game-card h-100">

              <h2 class="game-title">
                <%= game.title %>
              </h2>

              <%= image_tag game.picture,
                            alt: game.title,
                            class: "game-image img-fluid" %>

              <p><strong>Catégorie :</strong> <%= game.category %></p>
              <p><strong>Âge minimum :</strong> <%= game.age %> ans</p>
              <p><strong>Nombre de joueurs :</strong> <%= game.player_number %></p>



            </div>

          <% end %>

        </div>

      <% end %>
    </div>

  <% else %>

    <div class="text-center">
      <p>Aucun jeu disponible.</p>
    </div>

  <% end %>

</div>
```
