

<div class="container my-5">

  <h1 class="mb-5 text-center">
    <span class="red">L</span>
    <span class="blue">e</span>
    <span class="yellow">s</span>
    <span>&nbsp;</span>
    <span class="orange">J</span>
    <span class="green">e</span>
    <span class="red">u</span>
    <span class="blue">x</span>
  </h1>


  <div class="map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-game-markers-value="<%= @game_markers.to_json %>"
    data-map-user-markers-value="<%= @user_markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <% if @games.any? %>

    <div class="row">
      <% @games.each do |game| %>

        <div class="col-12 col-md-6 col-lg-4 mb-4 link">


          <%= link_to game_path(game, query: params[:query]) do %>

            <div class="game-card h-100">

              <h2 class="game-title">
                <%= game.title %>
              </h2>

                   <% if game.picture.attached? %>
                <%= cl_image_tag game.picture.key,
                  alt: game.title,
                  class: "game-image img-fluid" %>
              <% else %>
                <div class="bg-secondary d-flex align-items-center justify-content-center rounded"
                     style="height: 120px;">
                  Aucune image
                </div>
              <% end %>

              <p><i class="fa-solid fa-dice red"></i> <%= game.category %></p>
              <p><i class="fa-solid fa-dice-d20 blue"></i> <%= game.age %> ans</p>
              <p><i class="fa-solid fa-chess-knight orange"></i> <%= game.player_number %> joueur<%= game.player_number > 1 ? 's' : "" %></p>


           </div>

          <% end %>

        </div>

      <% end %>
    </div>

  <% else %>

    <div class="text-center">
      <p>Aucun jeu disponible.</p>
    </div>

  <% end %>

</div>
