<% provide(:title, "gameshare - games index") %>

<div class="container my-5">

  <h2 class="text-center text-paytone">
    <span class="red">N</span>
    <span class="blue">o</span>
    <span class="yellow">s</span>
    <span>&nbsp;</span>
    <span class="orange">J</span>
    <span class="green">e</span>
    <span class="red">u</span>
    <span class="blue">x</span>
  </h2>
  <h2 class="mb-5 text-center text-paytone">
    <span class="red">A</span>
    <span>&nbsp;</span>
    <span class="blue">c</span>
    <span class="yellow">ô</span>
    <span class="orange">t</span>
    <span class="green">é</span>
    <span>&nbsp;</span>
    <span class="red">d</span>
    <span class="blue">e</span>
    <span>&nbsp;</span>
    <span class="red">c</span>
    <span class="blue">h</span>
    <span class="yellow">e</span>
    <span class="orange">z</span>
    <span>&nbsp;</span>
    <span class="green">t</span>
    <span class="red">o</span>
    <span class="blue">i</span>
  </h2>


  <div class="map"
    data-controller="map"
    data-map-game-markers-value="<%= @game_markers.to_json %>"
    data-map-user-markers-value="<%= @user_markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="my-4 search">
    <%= form_with url: games_path, method: :get, local: true, data: { turbo_frame: "games_results" } do |f| %>
      <%= f.hidden_field :query, value: params[:query] %>
      <div class="row g-3 align-items-end">
        <div class="col-12 col-md-4">
          <label class="form-label2  d-flex align-items-center gap-1 mb-1">
            <i class="fa-solid fa-dice red mb-1"></i> Catégorie du jeu
          </label>
          <%= f.select :category,
            options_for_select([["Toutes les catégories", ""]] + @categories.map { |c| [c, c] }, params[:category]),
            {},
            class: "form-select input_ask", onchange: "this.form.submit()" %>
        </div>
        <div class="col-12 col-md-3">
          <label class="form-label2  d-flex align-items-center gap-1 mb-1">
            <i class="fa-solid fa-chess-knight orange mb-1"></i> Nbe de compagnons de jeu (min)
          </label>
          <%= f.select :player_number,
            options_for_select([["Nbre de joueurs", ""]] + @player_numbers.map { |n| ["#{n} joueur#{n > 1 ? 's' : ''}", n] }, params[:player_number]),
            {},
            class: "form-select input_ask", onchange: "this.form.submit()" %>
        </div>
        <div class="col-12 col-md-3">
          <label class="form-label2  d-flex align-items-center gap-1 mb-1">
            <i class="fa-solid fa-user blue mb-1"></i> Âge conseillé
          </label>
          <%= f.select :age,
            options_for_select([["Tous les âges", ""]] + @ages.map { |a| ["#{a}+", a] }, params[:age]),
            {},
            class: "form-select input_ask", onchange: "this.form.submit()" %>
        </div>
        <div class="col-12 col-md-2 d-flex align-items-end justify-content-center">
          <% filters_active = params[:category].present? || params[:player_number].present? || params[:age].present? %>
          <% if filters_active %>
            <%= link_to games_path(query: params[:query]), class: "text-decoration-none", title: "Effacer les filtres" do %>
              <i class="fa-solid fa-filter-circle-xmark fs-4 red"></i>
            <% end %>
          <% else %>
            <i class="fa-solid fa-filter"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= turbo_frame_tag "games_results", data: { turbo_action: "advance" } do %>
    <% if @games.any? %>

      <div class="row">
        <% @games.each do |game| %>

          <div class="col-12 col-md-6 col-lg-4 mb-4 link">


            <%= link_to game_path(game, query: params[:query]), data: { turbo_frame: "_top" } do %>

<div class="game-card h-100"
    style="--game-bg: url('<%= cl_image_path(game.picture.key) if game.picture.attached? %>');">


  <p class="txt"><i class="fa-solid fa-dice red"></i><br> <span class="bg-letter"><%= game.category %></p></span>
  <p class="txt"><i class="fa-solid fa-user blue"></i><br> <%= game.age %> ans</p>
  <p class="txt"><i class="fa-solid fa-chess-knight orange"></i><br> <%= game.player_number %> joueur<%= game.player_number > 1 ? 's' : '' %></p>

  <h2 class="game-title bg-title-<%= %w[red blue yellow orange green purple].sample %>"><%= game.title %></h2>

</div>

            <% end %>

          </div>

        <% end %>
      </div>

    <% else %>

      <div class="text-center">
        <p><%= current_user.username %>, il n'y a pas encore de jeux disponibles autour de chez toi. Profites-en pour en ajouter un !<br> Clic ici <br>⤵️</p>
      </div>

    <% end %>
  <% end %>

</div>
