<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Gameshare" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Gameshare">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag 'favicon.ico' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= ['bg-red-light', 'bg-blue-light', 'bg-yellow-light', 'bg-orange-light', 'bg-green-light', 'bg-purple-light'].sample %>"">
<%= render "shared/nav" %>
    <%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render "shared/flashes" %>
  <%# <%= render "shared/navbar", user:@user %>
  <%= render "shared/footer" %>
  </body>
</html>
