<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "Gameshare" %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="Gameshare">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= yield :head %>

    <%# Favicon - placer le fichier dans public/favicon.ico %>
    <%= favicon_link_tag 'favicon.ico' %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Assets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= ['bg-red-light', 'bg-blue-light', 'bg-yellow-light', 'bg-orange-light', 'bg-green-light', 'bg-purple-light'].sample %> min-vh-100">
    <% if current_page?(root_path) %>
      <%= render "shared/logo1" %>
      <%= render "shared/nav" %>
    <% elsif current_page?(profile_path) %>
      <%= render "shared/navbar_profil", game: @game, user: @user %>
    <% elsif current_page?(edit_user_registration_path) %>
      <%= render "shared/logo1" %>
    <% else %>
      <%= render "shared/logo0" %>
      <%= render "shared/nav" %>
    <% end %>
    <% if user_signed_in? %>
      <%= turbo_stream_from "user_#{current_user.id}_notifs" %>
      <%= turbo_stream_from "user_#{current_user.id}_flash" %>
      <%= render "shared/actions_attentes", user: current_user %>
      <div id="flash_notifications"></div>
    <% end %>
    <%= yield %>
    <div id="rating_modal_container"></div>

  </body>
</html>
